{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">
      
  <div class="section-content">
        <h2> Projekt- und Userverwaltung </h2>
        <br/>
        <br/>
        Neuen User hinzufügen:
        <br/>
        <br/>

        <form action="/new_user" method="POST">

            Projekt: <select name="projectname">
                          {% for projects in datas %}
                          <option>{{ projects.projectname }}</option>
                          {% endfor %}
                     <select>
             <br/>
            Username: <input type="text" name="username" placeholder="name">
             <br/>
            Password: <input type="text" name="password" placeholder="passwort">
             <br/>
            Rolle: <select name="role">
                <option value='1'>admin</option>
                <option value='2'>user</option>
                <option value='3'>superuser</option>
              <select>
             <br/>
             <input type="submit" class="button button1" value="Hinzufügen">
        </form>

        <br>
        <br>

        Neues Projekt hinzufügen:
        <br>
        <br>
          <form action = "/upload" method = "POST" enctype = "multipart/form-data">
              Projektname: <input type="text" name="name">
              <p>CSV hochladen: </p>
              <input type = "file" name = "the_file" />
              <input type = "submit" class="button button1" value="Hinzufügen">
          </form>

        <br>
        <br>
        <a href="/" class="button button1" >Go Back</a>
  </div>



  <h2>Aktuelle Projekte</h2>

        <table>
          <tr>
            <th>Projektname</th>
            <th>Filename</th>
        <br>
          </tr>
           {% for projects in datas %}
          <tr>
            <td>{{ projects.projectname }}</td>
            <td>{{ projects.filename }}</td>
          </tr>
          {% endfor %}
        </table>

  <br>
  <h2>Alle Räume </h2>
  <a href="/refresh" class="button button1" >Aktualisieren</a>
      
      <table>
          <tr>
            <th>UserId</th>
            <th>Floor</th>
            <th>Room</th>
            <th>Progres</th>
        <br>
          </tr>
           {% for rooms in all_rooms %}
          <tr>
            <td>{{ rooms.userid }}</td>
            <td>{{ rooms.floor }}</td>
            <td>{{ rooms.room }}</td>
            <td>{{ rooms.status }}</td>
          </tr>
          {% endfor %}
        </table>

      <br>
      <style>

     </div>

     Hello World



.button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}
.button1:hover {
    background-color: #008CBA;
    color: white;
}
</style>
      
    </div>
  </main>
{% endblock %}
<!-- -->